/* Start Global Rules */
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
    text-decoration: none;
}

:root {
    --main-color: #8A1538;
    --first-color: #FFFFFF;
    --third-color: #FF004C;
    --fourth-color: #FF4700;
    --fifth-color: #C8C8C8;
    --sixth-color: #65656B;
}

body {
    background: var(--main-color);
    min-height: 100vh;
}

@media screen and (max-height: 380px) {
    body {
        display: none;
    }
}

/* Start Framework */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* End Framework */

/* Start Global Rules */

/* Start Top Navbar */
.top-nav {
    width: 100%;
    height: 90px;
}

.box-nav {
    width: 50%;
    height: 100%;
}

.box-nav .fa {
    flex-basis: 32%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fa i {
    font-size: 18px;
    color: var(--first-color);
}

.fa:last-of-type i {
    color: var(--third-color);
}

.fa span {
    font-size: 14px;
    font-weight: 700;
    margin-top: 5px;
}

.active {
    color: var(--third-color);
}

.fa span:not(.active) {
    display: none;
}

.fa:hover i,
.fa:hover span {
    display: block;
    color: var(--third-color);
}

/* Start Media Queries for mobile */
@media screen and (max-width: 767px) {
    /* make the navbar at the bottom of the screen*/
    .top-nav {
        position: fixed;
        bottom: 0;
        z-index: 1000;
        height: 80px;
    }

    .box-nav {
        width: 100%;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 40px 40px 0px 0px;
        -webkit-border-radius: 40px 40px 0px 0px;
        -moz-border-radius: 40px 40px 0px 0px;
        -ms-border-radius: 40px 40px 0px 0px;
        -o-border-radius: 40px 40px 0px 0px;
    }
}
/* End Media Queries for mobile */
/* End Top Navbar */

/* Start Banner */
.banner {
    width: 90%;
    margin: 0 auto 200px;
}

.container {
    justify-content: space-between;
    height: 80vh;
}

.container img {
    width: 550px;
}

.container .contect {
    flex-basis: 50%;
    text-align: right;
}

.contect .text {
    margin: 30px auto;
}

.text h1 {
    font-size: 50px;
    font-weight: 700;
    color: var(--first-color);
}

.text p {
    font-size: 18px;
    font-weight: 400;
    color: var(--fifth-color);
}

.link {
    width: 80%;
    gap: 15px;
}

.link a {
    display: block;
    font-size: 16px;
    text-align: center;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.link a:first-of-type {
    font-weight: 700;
    color: var(--main-color);
    width: 150px;
    padding: 9px 6px;
    background-color: var(--first-color);
    order: 2;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}

.link a:first-of-type:hover {
    color: var(--first-color);
    background-color: var(--third-color);
}

.link a:last-of-type {
    color: var(--first-color);
    text-align: center;
    font-weight: 400;
    width: 150px;
    padding: 9px 6px;
    background-color: var(--main-color);
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}

.link a:last-of-type:hover {
    font-weight: 700;
    color: var(--first-color);
    background-color: var(--third-color);
}

/* Start Media Queries */

/* Media Queries for mobile */
@media screen and (max-width: 1020px) {
    .banner {
        width: 100%;
        margin-bottom: 120px;
    }

    .container {
        flex-direction: column;
        justify-content: center;
        padding-top: 50px;
        height: 100vh;
        gap: 30px;
    }

    .container img {
        max-width: 100%;
        align-self: center;
    }

    .container .contect {
        justify-content: flex-start;
    }

    .text h1 {
        font-size: 40px;
    }

    .text p {
        font-size: 16px;
    }

    .link {
        width: 100%;
    }
}
/* Media Queries for medium screens */
@media (min-width: 768px) and (max-width: 1020px){
    .banner {
        margin-bottom: 50px;
    }

    .container {
        gap: 50px;
        height: 75vh;
    }
}
/* End Media Queries */
/* End Banner */

/* Start Section */
.section {
    width: 90%;
    margin: 0 auto 100px;
}

/* Start navbar for Section */

.navbar {
    width: 75%;
    margin: 0 auto;
}

.navbar .flex-center {
    width: 100%;
    justify-content: space-between;
}

.left i {
    margin-left: 15px;
    color: var(--first-color);
    font-size: 20px;
}

.right h3 {
    color: var(--first-color);
    font-size: 24px;
    font-weight: 400;
}

/* Start Title */

.title {
    width: 100%;
    margin: 30px 0;
}

.title .box {
    display: flex;
    align-items: center;
    width: 70%;
    height: 164px;
    background: var(--fourth-color);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    position: relative;
    padding: 30px;
}

.title .player {
    flex-basis: 50%;
}

.title .player img {
    max-width: 100%;
    position: absolute;
    bottom: 0;
}

.title .contect {
    flex-basis: 50%;
    align-items: flex-end;
}

.icon {
    width: 70px;
    height: 25px;
    background: var(--first-color);
    padding: 15px;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    margin-bottom: 15px;
}

.icon img {
    width: 15px;
    height: 15px;
    order: 2;
    margin-left: 5px;
}

.title .contect h3 {
    color: var(--first-color);
    font-weight: 600;
    font-size: 18px;
    text-align: right;
}
/* End Title */

/* Start Media Queries for mobile*/
@media screen and (max-width: 767px) {
    .navbar {
        width: 100%;
    }

    .right h3 {
        margin-right: 15px;
    }

    .title .box {
        width: 100%;
        padding: 0;
    }

    .title .player {
        flex-basis: 45%;
    }

    .title .contect h3 {
        color: var(--first-color);
        font-weight: 600;
        font-size: 17px;
    }
}
/* End Media Queries for mobile */
/* End navbar */

/* Start Group box */
.group-box {
    width: 100%;
    margin-bottom: 50px;
}

.boxs {
    width: 45%;
    justify-content: space-between;
}

.boxs .box {
    width: 108px;
    height: 115px;
    background: rgba(255, 255, 255, 0.5);
    padding: 15px;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    color: var(--first-color);
}

.boxs .box:hover , .boxs .effect{
    background: var(--third-color);
}

.boxs .box img {
    margin-bottom: 10px;
}

.boxs .box h5 {
    font-size: 12px;
    font-weight: 700;
}

/* Start Media Queries*/

@media screen and (max-width: 767px) {
    .boxs {
        width: 100%;
    }

    .boxs .box:first-of-type {
        display: none;
    }

}
/* Media Queries for medium screens */
@media (min-width: 768px) and (max-width: 1020px){
    .boxs{
        width: 65%;
    }
}
/* End Media Queries */
/* End Group box */

/* Start Cards */
.cards {
    width: 100%;
    gap: 20px;
}

.card {
    width: 60%;
    height: 170px;
    padding: 15px;
}

.card .head {
    width: 85%;
    height: 30px;
    justify-content: space-between;
    margin-bottom: 15px;
}

.head h3 {
    order: 2;
}

.card .box {
    width: 90%;
    height: calc(100% - 30px);
    background: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    overflow: hidden;
    justify-content: space-between;
}

.card .box .btn {
    flex-basis: 15%;
    height: 100%;
}

.btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: 600;
    background: var(--first-color);
    color: var(--main-color);
    cursor: pointer;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.btn a:hover {
    background: var(--third-color);
    color: var(--first-color);
}

.card .contect {
    flex-basis: 100%;
    justify-content: space-around;
}

.text-box h3 span {
   margin: 0 15px ;
}

.text-box h3:last-of-type span {
    margin: 0 50px;
}

/* Start Media Queries */
@media screen and (max-width: 767px) {
    .cards {
        padding: 5px;
    }

    .card {
        width: 100%;
        height: 125px;
        padding: 5px;
    }

    .card .head {
        width: 95%;
    }

    .card .box {
        width: 100%;
    }

    .card img {
        width: 25px;
        height: 25px;
    }

    .text-box h3 {
        font-size: 14px;
    }
}
/* Media Queries for medium screens */
@media (min-width: 768px) and (max-width: 1020px){
    .card {
        width: 85%;
    }
}

/* End Media Queries */
/* End Cards */

/* End Section */