/* Start Global Rules */

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;500;600;700;800;900&family=Cookie&family=Courgette&family=Roboto:wght@100;300;400;500;700;900&family=Teko:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
}

:root {
    --main-color : #fff;
    --second-main-color : black;
    --third-main-color : darkgray;
    --fourth-main-color : #ccc;
    --main-margin : 100px;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
}

ul {
   list-style: none;
}

a {
    text-decoration: none;
}


.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width : 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width : 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width : 1200px) {
    .container {
        width: 1170px;
    }
}

.main-title {
    margin: 0 auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.main-title::before,
.main-title::after {
    content: "";
    width: 18px;
    height: 18px;
    background-color: var(--second-main-color);
    position: absolute;
    /* border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%; */
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.main-title::before {
    left: -35px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.main-title::after {
    right: -35px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
    -webkit-animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
    -webkit-animation: right-move 0.5s linear forwards;
}

.main-title:hover {
    color: var(--third-main-color);
    border: 2px solid var(--third-main-color);
    transition-delay: 0.5s;
}

/* End Global Rules */


/* Start Banner */

.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.6) , rgba(0, 0, 0, 0.4)),url(../imgs/banner-img.webp);
    background-size: cover;
    background-position: center;
    height: 100vh;
    border-bottom-right-radius: 500px;
    margin-bottom: var(--main-margin);
}

.banner .navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner .logo {
  color: var(--third-main-color);
  font-family: 'Cookie', cursive;
  letter-spacing: 2px;
}

.banner .logo span {
    font-family: 'Cookie', cursive;
    letter-spacing: 2px;
    color: var(--main-color);
    margin-left: 5px;
}

.banner .icon {
    display: none;
}

.banner .icon  i {
    font-size: 25px;
    color: var(--main-color);
}

.banner ul li {
    display: inline-block;
    margin-left: 20px;
}

.banner ul li a {
    color: var(--main-color);
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    text-transform: uppercase;
    font-size: 12px;
}

.banner .active,
.banner ul li a:hover {
    color: var(--third-main-color);
    padding-bottom: 5px;
    border-bottom: 2px solid var(--third-main-color);
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    text-align: center;
    color: var(--main-color);
}

.content h1 {
    font-size: 4em;
    margin-top: 80px;
    font-weight: 500;
    font-family: 'Cookie', cursive;
    letter-spacing: 2px;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

.btu-active {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    font-weight: bold;
    border: 2px solid var(--main-color);
    background-color: transparent;
    color: var(--main-color);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btu-active span {
    background-color: var(--main-color);
    height: 100%;
    width: 0;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.btu-active:hover span {
    width: 100%;
}

.btu-active:hover {
    color: var(--second-main-color);
    border: none;
}

/* Media Query */

@media (min-width:200px) and (max-width: 374px) {
    .banner {
        border-bottom-right-radius: 160px !important;
    }

    .content p {
        font-size: 14px !important;
    }
}

/* Small */

@media screen and (max-width:770px) {
    .banner {
        border-bottom-right-radius: 250px;
    }

    .navbar {
        width: 100%;
        margin: 0;
        padding: 20px;
    }

    .navbar .icon {
        display: block;
        float: right;
    }

    .navbar ul {
        position: absolute;
        min-width: 200px;
        background-color: var(--third-main-color);
        z-index: 1;
        right: 40px;
        top: 100px;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        display: none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
}

    .navbar ul::after {
        content: '';
        position: absolute;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent var(--third-main-color) transparent;
        top: -19px;
        right: 0;
    }

    .navbar ul li {
        display: block;
        margin-right: 15px;
        text-align: center;
    }

    .navbar ul li a {
        height: 50px;
        line-height: 50px;
        color: var(--second-main-color);
        font-weight: bold;
        font-size: 15px;
    }

    .navbar ul li:not(:last-of-type) {
        border-bottom: 2px solid var(--fourth-main-color);
    }

    .navbar ul .active {
        border-bottom: none;
        color: var(--main-color); 
    }

    .navbar ul li a:hover {
        border-bottom: none;
        margin-left: 20px;
        color: var(--main-color);
    }

    .navbar:hover ul {
       display: block;
    }

    .content h1 {
        font-size: 3em;
    }
    
    .content p {
        font-size: 13px;
        padding: 0 16px;
    }

    .btu-active {
        padding: 12px 0;
        margin: 10px;
    }


}

/* End Banner */


/* Start Our Story */
.our-story {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}

.our-story .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0 120px;
}

.our-story .body-txt {
    flex-basis: 45%;
    text-align: center;
}

.our-story .body-txt h2 {
    font-size: 60px;
    font-weight: 400;
    font-family: 'Cookie', cursive;
    letter-spacing: 2px;
}

.our-story .body-txt p {
    font-size: 13px;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #777;
}

.our-story .body-txt a {
    font-size: 14px;
    font-weight: 400;
    color: var(--second-main-color);
    padding: 8px 12px;
    border-bottom: 2px solid var(--second-main-color);
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    cursor: pointer;
}

.our-story .body-txt a:hover {
    padding: 10px 20px;
    color: var(--main-color);
    background-color: var(--second-main-color);
    border-bottom: none;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.our-story .image {
    flex-basis: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.our-story .image img {
    max-width: 100%;
}

.our-story .image:hover img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

/* Media Query */
/* Small */

@media (min-width: 200px) and (max-width: 374px) {
    .main-title {
        font-size: 20px;
    }
}

@media screen and (max-width:770px) {
    .our-story .container {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .our-story .body-txt {
        width: 100%;
        margin-left: 0;
        margin-bottom: 120px;
    }

    .our-story .body-txt p {
        margin-bottom: 30px;
        padding: 0 12px;
    }

    .our-story .image {
        justify-content: center;
    }
}

/* End Our Story */

/* Start Banner */

.banner-two {
    height: auto;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4) , rgba(0, 0, 0, 0.3)),url(../imgs/reservation-img.jpeg);
    background-size: cover;
    background-position: center;
    margin-bottom: var(--main-margin);
    text-align: center;
    padding: 100px 0;
    z-index: 0;
}

.banner-two h1 {
    font-family: 'Cookie', cursive;
    font-size: 7em;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 30px;
    color: var(--main-color);  
}

.banner-two p {
   font-size: 18px;
   color: var(--main-color);
   opacity: 0.5;
   font-weight: 600;
   margin-bottom: 40px;
}

/* Media Query */
/* Small */

@media screen and (max-width:770px) {
    .banner-two h1 {
        font-size: 3.5em;
    }
}

/* End Banner */

/* Start Menu */
.menu {
    padding-top: var(--main-padding-top);
    /* padding-bottom: var(--main-padding-bottom); */
}

.menu .container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 80px;
}

.menu-col {
    flex-basis: 45%;
    margin-bottom: 150px;
}

.menu-col h4 {
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 10px;
    margin-left: 25px;
    font-family: 'Teko', sans-serif;
}

.menu-col h4::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: var(--second-main-color);
    bottom: 0px;
    left: 0px;
}

.menu-col h4:hover::before {
    width: 100%;
}


.single-menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 50px;
}

.single-menu:hover {
    border-right: 2px solid var(--second-main-color);
    padding-right: 12px;
}

.single-menu img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.single-menu .menu-content {
    width: 100%;
    margin-left: 20px;
}

.single-menu .menu-content h5 {
    font-size: 21px;
    font-weight: 500;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px dashed var(--third-main-color);
    font-family: 'Teko', sans-serif;
}

.single-menu:hover .menu-content h5 {
    background-color: #eee;
    padding: 10px 5px;
     border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px; 
    border-bottom: 0;
}

.single-menu .menu-content h5 span {
    float: right;
    color: var(--third-main-color);
    font-size: 13px;
}

/* Media Query */
/* Small */

@media screen and (max-width:770px) {
   .menu .container {
    width: 100%;
   }
   .menu-col {
    flex-basis: 100%;
   }

   .single-menu .menu-content h5 {
    font-size: 17px;
   }
}

@media (min-width: 771px) and (max-width:1000px) {
     .menu .container {
        width: 95%;
        padding-left: 10px;
        padding-right: 10px;
     }

     .single-menu .menu-content h5 {
        font-size: 19px;
     }
 }
/* End Menu */

/* Start Services */
.services {
    padding-top: var(--main-padding-top);
}

.services .main-title {
    margin-bottom: var(--main-margin);
}

.services .container {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.services .boxs {
    flex-basis: 50%;
}

.services .image  {
    flex-basis: 31%;
}

.services .image img {
    max-width: 100%;
}



.services .box {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.services .box i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 25px;
    padding: 25px;
    border: 3px solid var(--second-main-color);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.services .box .box-txt {
    margin-left: 20px;
    background-color: #eee;
    padding: 15px 15px 18px 18px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    position: relative;
}

.services .box .box-txt::after {
    content: '';
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #eee transparent transparent;
    top: 33px;
    left: -20px;
}

.services .box .box-txt h4 {
    margin-top: 5px;
    margin-bottom: 8px;
    font-size: 18px;
}

.services .box:hover .box-txt {
    transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
    -moz-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    -o-transform: translateY(-7px);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}

.services .box .box-txt p {
    line-height: 1.4;
    font-size: 14px;
    color: #777;
}

.services .box:hover i {
    top: -83px;
    background-color: var(--second-main-color);
    color: var(--main-color);
}

/* Media Query */

@media (max-width: 767px) {
    .services .main-title {
        margin-bottom: 0;
    }

    /* .services .container {
        padding-top: 50px;
    } */

    .services .boxs {
        flex-basis: 100%;
    }

    .services .image {
        flex-basis: 100%;
        order: 2;
        margin-top: 50px;
    }
}

@media (min-width: 768px) and (max-width: 1000px){
    .services .container {
        justify-content: space-between;
    }

    .services .image {
     flex-basis: 43%;
    }
 }
/* End Services */

/* Start Testimonials */
.testimonials {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}

.testimonials .main-title {
    margin-bottom: var(--main-margin);
}

.testimonials .container {
    width: 85%;
    padding-top: var(--main-padding-top);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.mge-box {
    flex-basis: 31%;
    position: relative;
    margin-bottom: 50px;
    color: var(--second-main-color);
    margin-bottom: 100px;
}

.mge-box:hover {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.mge-box img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    object-fit: cover;
    border: 3px solid #eee;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
}

.mge-box .box-txt {
    padding: 50px 19px 30px;
    background-color: #eee;
    text-align: center;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}

.mge-box .box-txt a {
    display: block;
    margin-top: 5px;
    color: #777;
}

.mge-box .box-txt p {
    line-height: 1.5;
    margin: 20px 0;
    color: #777;
    font-size: 14px;
}

/* Media Query */

@media (max-width: 1000px) {
   .mge-box {
    flex-basis: 100%;
   }
 }

/* End Testimonials */

/* Start our Team */
.team {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}

.team .container {
    padding-top: var(--main-padding-top);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 40px;
}

.team .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team .box:hover {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.team .image {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team .box img {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  object-fit: cover;
}

.team .box-content {
    padding: 20px 0;
}

.team .info {
    margin-bottom: 15px;
}

.team .info h3 {
    margin-bottom: 5px;
}

.team .info p {
    font-size: 15px;
    color: #777;
}

.team .social i {
   color: var(--third-main-color);
   transition: 1s;
   -webkit-transition: 1s;
   -moz-transition: 1s;
   -ms-transition: 1s;
   -o-transition: 1s;
}

.team .social a:not(:first-child) {
    margin-left: 15px;
}

.team .social i:hover {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
}

/* Media Query */

/* @media (max-width: 549px) {
    .team .container {
     justify-content: center;
    }

    .team .box {
        margin-bottom: 50px;
    }
  }

  @media (min-width: 550px) and (max-width: 770px){
    .team .container {
        width: 100%;
        justify-content: space-around;
    }
    .team .box {
        margin-right: 20px;
        margin-bottom: 50px;
    } 
  }

  @media (min-width: 770px) and (max-width: 1000px){
    .team .container {
     width: 85%;
    }
  } */
/* End our Team */


/* Start Contact */
.contact {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);  
}

.contact .container {
    padding-top: var(--main-padding-top); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .box {
    flex-basis: 50%;
}

.contact form .inputBox {
   width: 100%;
   position: relative;
}

.contact form .inputBox input:not(input[type="submit"] ),
.contact form .inputBox textarea  {
    width: 100%;
    max-width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    border-bottom: 2px solid var(--second-main-color);
    margin-bottom: 30px;
}

.inputBox span {
    position: absolute;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
    pointer-events: none;
    padding: 5px 0;
    left: 5px;
    top: 0;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    color: var(--second-main-color);
}

.inputBox textarea {
    resize: none;
    font-weight: 500;
    min-height: 120px;
    margin-bottom: 10px;
    font-family: inherit;
}

.inputBox input:focus~span,
.inputBox textarea:focus~span,
.inputBox input:valid~span,
.inputBox textarea:valid~span {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    color: var(--third-main-color);
}


.inputBox input[type="submit"] {
    width: 50%;
    color: var(--second-main-color);
    border: 2px solid var(--second-main-color);
    float: right;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: bold;
    padding:  10px 15px;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    background-color: var(--main-color);
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.inputBox input[type="submit"]:hover {
    background-color: var(--second-main-color);
    color: var(--main-color);
}

/* Media Query */

@media (max-width: 767px) {
    .contact .box {
        flex-basis: 100%;
    }
  }

/* End Contact */

/* Start Footer */
.footer {
    padding-top: 50px; 
    background-color: var(--second-main-color); 
    color: var(--main-color);
    text-align: center;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

.footer .container {
    width: 80%;
    text-align: center;
    color: var(--main-color);
    padding-bottom: var(--main-padding-bottom);
}

.footer .social {
    margin: 50px 0 0;
}

.footer .social a:not( :first-child) {
    margin-left: 20px;
}

.footer .social i {
    color: var(--third-main-color);
}

.footer .social i:hover {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
}

.footer .logo {
    font-size: 4em;
    margin-top: 80px;
    font-weight: 500;
    font-family: 'Cookie', cursive;
    letter-spacing: 2px;
    color: var(--third-main-color);
}

.footer .logo span {
    font-family: 'Cookie', cursive;
    letter-spacing: 2px;
    margin-left: 5px;  
    color: var(--main-color);
}

.footer p {
    color: var(--main-color);
    line-height: 1.5;
}

.footer .copy {
    width: 100%;
    height: 50px;
    border-top: 1px solid #777;
    padding: 15px;
}
/* End Footer */



/* Start Animation */
@keyframes left-move {
    50% {
        left: 0;
        width: 18px;
        height: 18px;
    }

    80% {
        left: 0;
        width: 10%;
        width: 10%;
    }

    100% {
        background-color: var(--main-color);
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@keyframes right-move {
    50% {
        right: 0;
        width: 18px;
        height: 18px;
    }

    80% {
        right: 0;
        width: 10%;
        width: 10%;
    }

    100% {
        background-color: var(--main-color);
        right: 0;
        width: 100%;
        height: 100%;
    }

}

/* End Animation */

